<div class="side-bar">
  <div class="navigation">
    <div class="menu-title">
      <h5>Libraries</h5>
    </div>
    <ul class="nav-list">
      <li><a href="/library" class="nav-link" id="personal-link"><i class="far fa-user"></i>
          <span>
            Personal
          </span>
        </a></li>
      <li><a href="/library/featured" class="nav-link" id="featured-link"><i class="far fa-star"></i>
          <span>
            Featured
          </span>
        </a></li>
      <li><a href="#" class="nav-link" id="team-link"><i class="fas fa-user-friends"></i>
          <span>
            Team
          </span>
        </a></li>
    </ul>
  </div>
  <div id="invite-div"><button id="btn-invite">
      <i class="fas fa-user-plus"></i>
      Invite members
    </button></div>
</div>