.side-bar {
  min-width: 250px;
  min-height: 87vh;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-direction: column;
  border-right: 1px solid #39385640;
}

.menu-title {
  font-size: 20px;
}

.navigation {
  width: 100%;
}

.nav-list {
  padding: 0;
  list-style: none;
  width: 100%;
}

.nav-link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 2px;
}

.nav-list > li {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.nav-list > li> a:link,
.nav-list > li> a:visited,
.nav-list > li> a:hover,
.nav-list > li> a:active {
  color: #393856;
  text-decoration: none;
}

.nav-list > li> a:hover,
.nav-list > li> a:active {
  opacity: 0.5;
  border: 1px solid #2681f2;
}

#btn-invite {
  width: 100%;
  border-radius: 0;
  border: 0;
  background-color: #2681f2;
  color: #f7f7f8;
  padding: 10px;
  cursor: pointer;
}